# Python build artifacts
build/
dist/
*.egg-info/
*.egg

# Python cache
__pycache__/
*.py[cod]

# IDE and editor settings
.vscode/
*.swp

# Logs and system files
*.log
.DS_Store

# Ignore YAML files containing sensitive info like API keys
*.yaml
